/*NOSOTROS*/
.tamaño-video {
	width: 50vw;
	height: 50vh;
}
.border-text {
	border: solid;
	width: 50%;
}
/*-------------------------------------------------------------------------------------------------*/