/*SUCURSALES*/
.border-tuning {
	border-radius: 103px 0px 64px 1px;
	-moz-border-radius: 103px 0px 64px 1px;
	-webkit-border-radius: 103px 0px 64px 1px;
	border: 3px dashed #654ea3;
}
.border-tuning-dos {
	border-radius: 0px 64px 0px 64px;
	-moz-border-radius: 0px 64px 0px 64px;
	-webkit-border-radius: 0px 64px 0px 64px;
	border: 3px dashed #654ea3;
}
/*-------------------------------------------------------------------------------------------------*/