$color_1: #5a5a5a;
$color_2: black;
$color_3: white;
$color_4: #fff;
$color_5: #000;
$background-color_1: rgba(128, 128, 128, 0.5);
$background-color_2: rgb(26, 208, 63);
$background-color_3: #fff;
$background-color_4: #23c483;